# Relational Database Configurations
POSTGRES_DATABASE=insert_your_postgres_database
POSTGRES_HOST=insert_your_postgres_host
POSTGRES_PASSWORD=insert_your_postgres_password
POSTGRES_PORT=insert_your_postgres_port
POSTGRES_USER=insert_your_postgres_user

# Vector Database Configurations
QDRANT_HOST=insert_your_qdrant_host
QDRANT_IMAGE_COLLECTION=insert_your_qdrant_image_collection
QDRANT_TEXT_COLLECTION=insert_your_qdrant_text_collection
QDRANT_URL=insert_your_qdrant_url