BACKEND_URL=insert-your-backend-url-here
FRONTEND_URL=insert-your-frontend-url-here

OPENAI_API_KEY=insert-your-api-key-here
OPENAI_EMBEDDING_MODEL=insert-your-embedding-model-here
OPENAI_MODEL=insert-your-model-here

POSTGRES_DATABASE=insert-your-postgres-database-here
POSTGRES_HOST=insert-your-postgres-host-here
POSTGRES_PASSWORD=insert-your-postgres-password-here
POSTGRES_PORT=5432
POSTGRES_USER=insert-your-postgres-user-here

QDRANT_HOST=insert-your-qdrant-host-here
QDRANT_IMAGE_COLLECTION=insert-your-image-collection-here
QDRANT_PORT=6333
QDRANT_TEXT_COLLECTION=insert-your-text-collection-here
QDRANT_TOP_K=insert-your-top-k-here

REDIS_URL=insert-your-redis-url-here

AWS_ACCESS_KEY_ID=insert-your-aws-access-key-id-here
AWS_REGION=insert-your-aws-region-here
AWS_SECRET_ACCESS_KEY=insert-your-aws-secret-access-key-here
AWS_S3_BUCKET_NAME=insert-your-aws-s3-bucket-name-here
