# Frotend Configurations
FRONTEND_URL=insert_your_frontend_url

# Relational Database Configurations
POSTGRES_DATABASE=insert_your_postgres_database
POSTGRES_HOST=insert_your_postgres_host
POSTGRES_PASSWORD=insert_your_postgres_password
POSTGRES_PORT=5432
POSTGRES_USER=insert_your_postgres_user

# Vector Database Configurations
QDRANT_HOST=insert_your_qdrant_host
QDRANT_IMAGE_COLLECTION=insert_your_qdrant_image_collection
QDRANT_TEXT_COLLECTION=insert_your_qdrant_text_collection
QDRANT_PORT=6333

# LLM Configurations
OPENAI_API_KEY=insert_your_openai_api_key