.ruff_cache
.pytest_cache
__pycache__/
.git
.gitignore
.env.local
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.vscode
.idea
*.egg-info/
dist/
build/
.DS_Store
*.log
README.md
.coverage
.mypy_cache
.ruff_cache